.your-grid,.opponent-grid {
    height: min-content;
    user-select: none;
}

table {
    border-collapse: collapse;
    user-select: none;
}

tr {
    position: relative;
}

td {
    height: 2em;
    width: 2em;
    border: 1px solid blue;
    padding: 0px;
    position: relative;
}


.ship-node[data-present] {
    user-select: text;
    top: 0px;
}

.ship-node {
    height: 2em;
    width: 2em;
    z-index: 10;
}