* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto;
    margin: 5px 0px 0px 0px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
}

.instruction-bar {
    background-color: #e2e8f0;
    height: min-content;
    padding: 8px;
    width: 25em;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    width: 75px;
    height: 50px;
}

header {
    display: flex;
    justify-content: space-around;
}

.function-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pass-device {
    display: none;
}

.around-grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.randomize {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.mode-select {
    padding: 15px;
    font-weight: bold;
    border: 2px solid blue;
}

.mode-buttons {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

#computer-button {
    color: white;
    background-color: blue;
}

